ConfigName=cyp_export_3

#ORACLE Configuration
db1.Driver=oracle.jdbc.driver.OracleDriver
db1.URL=jdbc:oracle:thin:@RZR:1521:RZR
db1.User=master
db1.Password=master

#ORACLE Configuration
db2.Driver=oracle.jdbc.driver.OracleDriver
db2.URL=jdbc:oracle:thin:@RZR:1521:RZR
db2.User=master
db2.Password=master

db1.SourceTable=BOOK_LINKS
db2.TargetTable=BOOK_LINKS

# Log each read from the database in the console
db1.ShowEachRead=N
db1.PingReadCount=100000

Export.Directory=S:\\Ulvi\\wordspace\\Wordlet\\export
Export.FileRootName=Books_Export_1
Export.Delimiter=;

# If it should overwrite, it writes on the first file, otherwise increments filename
Export.FileOverwrite=N

# Create maximum n files
Export.MaximumFiles=20

Export.HeaderNames.Source=DB
#Export.Headers=WORD, PROCESSED, ID, FOUND, VERSION, SUFFIX_LIST, SYLS, MARKASDELETED
Export.SegmentSeperator=|
Export.FlushFrequency=50000
Export.Method=getExportLine_Ledger
