
#Oracle Configuration
db1.Driver=oracle.jdbc.driver.OracleDriver
db1.URL=jdbc:oracle:thin:@RZR:1521:RZR
db1.User=master
db1.Password=master

db1.SelectQuery=SELECT * FROM BOOK_LINKS
db1.InsertQuery=INSERT INTO BOOK_LINKS (FULLURL, BASEURL, SUBURL, BOOKNAME, CONTENTTYPE) VALUES (?, ?, ?, ?, ?)
db1.UpdateQuery=UPDATE BOOK_LINKS SET LEVEL2=?, UPDATE_TIME=? WHERE SOURCE=? AND WORD=? AND ID=?

Download.Site=https://b-ok.cc
Download.ErrorPageIndicator=

runMethod=processDirectory
processDirectory=S:\\Ulvi\\wordspace\\Wordlet\\_BOOKS

LedgerManagerConfig=S:\\Ulvi\\wordspace\\Wordlet\\config\\LedgerManager_1.cfg